.Gamegem {
  padding-bottom: 400px;
  overflow: hidden;
  .container {
    max-width: 1200px;
  }
  .mb-padding-right,
  .mb-padding-left {
    padding-top: 15%;
  }
  .mb-padding-left {
    padding-left: 2%;
  }
  .mb-padding-right {
    padding-top: 14%;
    padding-right: 2%;
    .flex {
      img {
        align-self: flex-start;
      }
    }
  }

  .Gamegem__content {
    width: 652px;
    height: 49px;
    p {
      font-family: "G.I. Incognito", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      text-align: center;
      letter-spacing: 0.05em;

      color: #ffffff;
    }
  }
  .wrapper-imgcenter {
    .core-wrap {
      left: 50%;
      transform: translateX(-50%);
      width: 700px;
      margin-top: 0px;
      margin-left: -20px;
    }
    img {
      width: 100%;
      
    }
    .core-img {
      animation: rotation 10s infinite linear;
    }
  }
  .Gamecoin_exchange {
    left: 92px;
    top: 170px;
  }
  .Gamecoin__free {
    top: 152px;
    right: 124px;
  }
  .Gamecoin__text {
    color: #ffffff;
    top: 170px;
    left: -160px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
  }
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

