.Gamegem {
  padding-top: 50px;
  padding-bottom: 400px;

  .container {
    max-width: 1200px;
  }
  .mb-padding-right,
  .mb-padding-left{
    padding-top: 15%;
  }
  .mb-padding-right{
    .flex{
      img{
        align-self: flex-start;
      }
    }
  }

  .Gamegem__content {
    width: 652px;
    height: 49px;
    p {
      font-family: "G.I. Incognito";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      text-align: center;
      letter-spacing: 0.05em;

      color: #ffffff;
    }
  }
  .wrapper-imgcenter {
    img {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .Gamecoin_exchange {
    left: 92px;
    top: 170px;
  }
  .Gamecoin__free {
    top: 152px;
    right: 124px;
  }
  .Gamecoin__text {
    color: #ffffff;
    top: 170px;
    left: -160px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
  }
}
