.Hypermon {
  min-height: 100vh;
  background-image: url("./img/bg.png");
  .container {
    max-width: 1200px;
  }
  .active{
    display: block !important;
  }
  .unset-padding{
    padding: unset !important;
  }
  .style-text {
    margin-right: 5px;
    font-size: 60px;
    font-family: "G.I. Incognito";
    background: linear-gradient(0deg, #00adeb -1.73%, #006bed 96.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  background-size: cover;
  background-position: center;
  .mb-wrap-content-GameCoin{
    .Hypermon_contract{
      .px-8{
        min-width: 256px;
        text-align: center;
      }
    }
  }
  .mb-player-GameCoin {
    // width: 100%;
    // justify-content: center;
    .first-img {
      padding-right: 2%;
    }
  }
  .Hypermon__container {
    padding-top: 40%;
    position: relative;
    .text-center{
      .mb-logo-GameCoin{
        align-self: center;
      }
    }
    .Hypermon_text {
      width: 658px;
      height: 54px;
      p {
        font-family: "G.I. Incognito";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        /* or 169% */

        text-align: center;
        letter-spacing: 0.05em;

        color: #ffffff;
      }
    }

    .Hypermon_text--bottom {
      .totalPlayer {
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 20px;
        letter-spacing: 0.05em;
        background: -webkit-linear-gradient(#00adeb, #006bed);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .totalPlayer_text {
        font-family: CAMPUS PERSONAL USE;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        /* or 125% */

        letter-spacing: 0.05em;

        color: #ffffff;
      }
    }

    .Hypermon_contract--top {
      span {
        color: white;
        font-family: "UTM Alter Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
      }
    }
    .Hypermon_contract {
      background-color: #031233;
      color: white;
      font-size: 15px;
      line-height: 25px;
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(#00adeb, #006bed);
      span {
        font-family: "UTM Alter Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        /* identical to box height, or 167% */

        color: #ffffff;
      }
      .Hypermon_contract--left {
        span {
          padding: 4px 30px;
          border-right: 2px solid #ccc;
        }
      }
    }
    .light {
      width: 50%;
      top: 26%;
      left: 98%;
      position: absolute;
      animation: light 1s ease-in infinite;
    }
    @keyframes light {
      from { opacity: 0} to { opacity: 1}
    }
    .fire {
      width: 35%;
      left: -5%;
      top: 12%;
      position: absolute;
      transform: rotate(-25deg);
      animation: thunders 1.5s ease-out infinite;
    }
    .thunder {
      width: 10%;
      top: 19%;
      position: absolute;
      left: 53.5%;
      animation: thunders 0.5s ease-in infinite;
    }
    @keyframes thunders {
      0% { opacity: 0.2; }
      100% { opacity: 0.8; }
    }
  }
  
}
