// mobile responsive
@media (max-width: 767.98px) {
  .Hypermon {
    .Hypermon__container {
      padding-top: 30vh;
    }
    .Hypermon__container {
      .mb-logo-GameCoin,
      .Hypermon_text {
        width: 80% !important;
        height: unset;
        margin-top: unset;
      }
    }
    .mb-wrap-content-GameCoin{
      .Hypermon_contract{
        .px-8{
          min-width: 200px;
        }
      }
    }
  }
}
