// mobile responsive
@media (max-width: 767.98px) {
  .Hypermon {
    .Hypermon__container {
      padding-top: 30vh;
    }
    .Hypermon__container {
      .mb-logo-GameCoin,
      .Hypermon_text {
        width: 80% !important;
        height: unset;
        margin-top: unset;
      }
    }
    .mb-player-GameCoin{
      .first-img{
        display: none;
      }
      .change-color{
        display: block;
      }
    }
    .mb-wrap-content-GameCoin{
      .Hypermon_contract{
        .px-8{
          min-width: 200px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .mobile-Hypermon{
    background-image: url("../../../_assets/images/background_mobile.png");

  }
}
