// small device responsive
@media (max-width: 767.98px) {
  .Gamemap {
    .mb-description-gameplay {
      width: 80% !important;
    }
    .mb-header-gamemap {
      width: 36%;
      padding-top: 10%;
    }
  }
}
