.Roadmap {
  .imgroad-responsive,
  .wrapper-text {
    display: none;
  }
  .maincontainer {
    padding-top: 400px;
    padding-bottom: 205px;
  }
  .main-wrapper{
    padding-top: 200px;
  }
  .header-name{
    padding-top: 100px;
  }
  .Roadmap__content {
    width: 652px;
    height: 49px;
    p {
      font-family: "G.I. Incognito";

      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      text-align: center;
      letter-spacing: 0.05em;

      color: #ffffff;
    }
  }
}
