// tablet responsive
@media (max-width: 1023.98px) {
  .Roadmap {
    .imgroad {
      display: none;
    }
    .main-wrapper {
      padding-top: unset;
    }
    .imgroad-responsive {
      padding-top: 30px;
    }
    .imgroad-responsive,
    .wrapper-text {
      display: flex;
    }
    .maincontainer {
      padding-top: 109px;
      padding-bottom: 30px;
    }
    span {
      color: white;
      display: block;
      &:first-child {
        font-size: 30px;
        font-family: "G.I. Incognito";
        background: linear-gradient(0deg, #00adeb -1.73%, #006bed 96.03%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:nth-child(2) {
        .symbol-text {
          font-size: 20px;
          font-family: "UTM Alter Gothic";
          background: linear-gradient(180deg, #ee9559 0%, #f5e47e 50%, #f3c17c 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        display: flex;
        font-size: 20px;
        font-family: "UTM Alter Gothic";
        background: linear-gradient(180deg, #ee9559 0%, #f5e47e 50%, #f3c17c 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:last-child {
        font-size: 13px;
      }
    }
    .wrapper-text {
      display: flex;
      div {
        padding-left: 10px;
      }
    }
  }
}
