.Ourpartner {
  .container {
    max-width: 1200px;
  }
  .Ourpartner__content {
    width: 652px;
    height: 49px;
    p {
      font-family: "G.I. Incognito";

      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      text-align: center;
      letter-spacing: 0.05em;

      color: #ffffff;
    }
  }
}
