@font-face {
  font-family: "G.I. Incognito";
  src: local("G.I. Incognito"),
    url(./../_assets/fonts/gi_incognito.ttf) format("truetype");
}
@font-face {
  font-family: "UTM Alter Gothic";
  src: local("UTM Alter Gothic"),
    url(./../_assets/fonts/utm_alter_gothic.ttf) format("truetype");
}