.Header {
  max-width: 1200px;
  padding-top: 60px;
  .Header_container {
    .mb-menu {
      display: none;
    }
    .bottom-header-menu {
      display: none;
    }
    .w-100 {
      width: 100%;
    }
    .Header__link {
      .link3 {
        white-space: pre;
      }
      .link {
        &:hover {
          span {
            color: yellow;
          }
          .link_bg {
            display: block;
          }
        }
        cursor: pointer;
        padding: 0 40px;
        img {
          z-index: -1;
        }
        span {
          font-family: "G.I. Incognito";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          /* identical to box height, or 157% */

          letter-spacing: 0.05em;
          z-index: 3;
          color: white;
        }
        .link_bg {
          display: none;
        }
        .link_bg {
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .link.active {
        display: block;
        span {
          color: yellow;
        }
        .link_bg {
          display: block;
        }
      }
    }
  }
}
.Footer {
  position: relative;
  .version {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    font-size: 8px;
    color: yellow;
  }
  .Footer__nav {
    .wrapper-nav {
      flex-wrap: wrap;

      div {
        width: 200px;
        display: flex;
        justify-content: center;
        * {
          padding-top: 10px;
        }
      }
    }
    span {
      cursor: pointer;

      font-family: "G.I. Incognito";
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
      /* identical to box height, or 110% */

      letter-spacing: 0.05em;
      color: white;
      // padding: 0 40px;
      &:hover {
        color: yellow;
      }
    }
    .active {
      color: yellow;
    }
  }
  .Footer__inf {
    padding-top: 80px;
    .email {
      span {
        font-size: 20px;
        line-height: 25px;
        /* identical to box height, or 125% */

        /* white */

        color: #ffffff;
      }
    }
    .Footer__bottom {
      span {
        font-family: "Mulish";
        color: yellow;
      }
    }
  }
}
