// small device responsive
@media (max-width: 1023.98px) {
  .Gameplay {
    .Gameplay__container--wrapper {
      padding-top: 83px !important;
    }
    .Caterpie1a2 {
      right: 294px;
      bottom: 7%;
      width: 300px;
    }
    .Chuong1 {
      right: 34px;
      // /* bottom: -6%; */
      width: 700px;
    }
    .Squitle32 {
      // right: 0;
      // bottom: 17%;
      width: 54%;
    }
  }
}
// tablet responsive
@media (min-width: 768px) and (max-width: 1023.98px) {
  .Gameplay {
    // .Gameplay__container--wrapper{
    //     padding-top: 83px;
    // }
    // .mb-header-gameplay {
    //     width: 44%;
    // }
  }
}
