// small responsive
@media (max-width: 767.98px) {
  .Ourcharacter {
    .mb-name-Ourcharacter {
      width: 49%;
    }
    .name-character {
      font-size: 12px;
      top: 14.5% !important;
    }
    .Charmande1 {
      .character-properties {
        right: 13%;
        li {
          font-size: 11px;
          span {
            font-size: 31px;
            margin-left: -3px;
          }
        }
      }
      .vector{
        top: -44%;
      }
      .Charmande__img {
        margin-top: -48% !important;
      }
    }
    .Ourcharacter_description {
      span {
        &:first-child {
          // font-size: 9px !important;
          width: 80% !important;
        }
      }
    }
    .nameItem {
      font-size: 14px;
    }
    .formCard {
      height: 100px;
    }
    .wrapper-star {
      .star {
        margin-right: 5px;
        width: 14%  !important;
        }
      }
      .nameItem {
        font-size: 10px !important;
      }
  }
}
// small mobile responsive
@media (max-width: 450px) {
  .Ourcharacter {
    .name-character {
      font-size: 8px;
      top: 12% !important;
    }
    .Charmande1 {
      .character-properties {
        li {
          font-size: 9px;
          span {
            font-size: 29px;
          }
        }
      }
    }
    .Ourcharacter_description {
      span {
        &:first-child {
          font-size: 9px !important;
          width: 80% !important;
        }
        &:last-child {
          font-size: 30px;
        }
      }
    }
    .formCard {
      height: 70px;
      .nameItem {
        font-size: 8px !important;
      }
    }
    .wrapper-star {
      .star {
        margin-right: 5px;
        width: 10%  !important;
        }
      }
  
    
  }
}
