// small desktop responsive
@media (max-width: 1400px) {
  .Ourcharacter {
    .name-character {
      top: 16%;
    }

  }
}
// tablet responsive
@media (min-width: 768px) and (max-width: 1023.98px) {
  .Ourcharacter {
    .mb-name-Ourcharacter {
      width: 50%;
    }
    .name-character {
      font-size: 14px;
      top: 13.5%;
    }
    .Charmande1 {
      margin-top: -20%;
      .character-properties {
        right: 16%;
      }
    }
    .Charmande1 {
      margin-top: 0%;
      .Charmande__img {
        margin-top: -100px !important;
      }
    }
    .wrapper-star {
    .star {
      margin-right: 10px;
      width: 15%  !important;
      }
    }
    .nameItem {
      font-size: 14px !important;
    }
  }
}